html {
  background-color: #222629;
}

body {
display: grid;
grid-template-columns: 20%, 60%, 20%;
grid-template-rows: auto;
grid-template-areas: "header header header"
                      "nav nav nav"
                      "main main main"
                      "footer footer footer";
}

main {

  color: #6B6E70;
  text-align: center;
  display: inline;
  grid-area: main;
}
nav {
  color: #86C232;
  display: inline;
  padding: 1em;
  grid-area: nav;
}
header {
  padding: 45px;
  text-align: center;
  color: #61892F;
  font-size: 30px;
  background-image: url(https://images.unsplash.com/photo-1518378379207-3418372afea3?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDc4fGFldTZyTC1qNmV3fHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  grid-area: header;
}
footer {
  color: #6B6E70;
  grid-area: footer;

}
