html {
  background-color: #222629
}

main {

  color: #6B6E70;
  text-align: center;
}
header {
  padding: 35px;
  text-align: center;
  color: #222629;
  font-size: 10px;
  background-image: url(https://images.unsplash.com/photo-1518378379207-3418372afea3?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDc4fGFldTZyTC1qNmV3fHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}
